<%- include('../includes/main.ejs') %>
<%- include('../includes/navigation.ejs') %>
<%- include('../includes/flash.ejs') %>

        <h1>Admin home page</h1>
    </body>
    <%- include('../includes/flashScript.ejs') %>
</html>