<%- include('../includes/main.ejs') %>
<link rel="stylesheet" href="/css/home.css">

<header>
    <h1>Welcome to Job Recruitment System</h1>
    <p>Your gateway to finding the perfect job or the best candidates.</p>
</header>