header {
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    font-size: 2.25rem;
}

header p {
    font-size: 1.15rem;
}
header a {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 3px 6px;
}
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.section {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.section p {
    font-size: 1.15rem;
}

.section .img img {
    width: 70%;
    height: 80%;
}

.detail p {
    margin-bottom: 2rem;
}

.section .img {
    display: flex;
    justify-content: center;
    align-items: center;
}